target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
www/js/app
www/js/candies
www/js/lib
.jsweet
.generated
/generated

/node_modules/
/build/
.sass-cache/
.tscache/
/platforms/*
gulp-tsc-tmp*
/bin/